body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

@media (min-width: 720px) {
  .input, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-input input, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-button-container .register-btn input, main .main-content .hero .split-container .split-content .right .signup-inputs .new-user-question .register-btn input, main .main-content .hero .split-container .split-content .right .signup-button-container .signup-inputs .register-btn input, main .main-content .hero .split-container .split-content .right .new-user-question .signup-inputs .register-btn input, main .main-content .hero .split-container .split-content .right .login-content .login-inputs input, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .submit-btn {
    height: 30px;
  }
  header .header-content {
    height: 120px;
    width: 100%;
    border: 1px solid black;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
  main .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  main .main-content .hero {
    display: inline-flex;
    width: 950px;
    height: 600px;
    box-shadow: 2px 2px 10px 3px black;
  }
  main .main-content .hero .split-container {
    width: 100%;
    display: flex;
  }
  main .main-content .hero .split-container .split-content {
    width: 100%;
    height: 100%;
  }
  main .main-content .hero .split-container .split-content .hero-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/USTP-CDO.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  main .main-content .hero .split-container .split-content .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  main .main-content .hero .split-container .split-content .right .login-img-container {
    height: 325px;
    display: inline;
  }
  main .main-content .hero .split-container .split-content .right .login-img-container .img-top {
    transform: scale(0.75);
    width: 350px;
    height: 325px;
  }
  main .main-content .hero .split-container .split-content .right .login-content {
    height: 150px;
    display: flex;
    justify-content: space-around;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs input, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .submit-btn {
    margin: 10px 0;
    width: 300px;
    font-weight: 600;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs .password-content {
    position: relative;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs .password-content a.forgot-password {
    text-transform: capitalize;
    position: absolute;
    bottom: -10%;
    right: 0;
    font-size: 12px;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .submit-btn {
    width: 100%;
    background-image: url("../images/Buttons/Singnin_Button.png");
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 20px 0;
    color: #fff;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs .new-user-question {
    text-align: center;
    width: 100%;
  }
  main .main-content .hero .split-container .split-content .right .login-content .login-inputs .new-user-question a {
    font-weight: 600;
    text-transform: capitalize;
  }
  main .main-content .hero .split-container .split-content .right .signup-inputs .signup-input, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-button-container .register-btn, main .main-content .hero .split-container .split-content .right .signup-inputs .new-user-question .register-btn, main .main-content .hero .split-container .split-content .right .signup-button-container .signup-inputs .register-btn, main .main-content .hero .split-container .split-content .right .new-user-question .signup-inputs .register-btn {
    padding: 15px 10px;
  }
  main .main-content .hero .split-container .split-content .right .signup-inputs .signup-input input, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-button-container .register-btn input, main .main-content .hero .split-container .split-content .right .signup-inputs .new-user-question .register-btn input, main .main-content .hero .split-container .split-content .right .signup-button-container .signup-inputs .register-btn input, main .main-content .hero .split-container .split-content .right .new-user-question .signup-inputs .register-btn input, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-input .login-content .login-inputs .login-button-container .submit-btn, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-button-container .register-btn .login-content .login-inputs .login-button-container .submit-btn, main .main-content .hero .split-container .split-content .right .signup-inputs .new-user-question .register-btn .login-content .login-inputs .login-button-container .submit-btn, main .main-content .hero .split-container .split-content .right .signup-button-container .signup-inputs .register-btn .login-content .login-inputs .login-button-container .submit-btn, main .main-content .hero .split-container .split-content .right .new-user-question .signup-inputs .register-btn .login-content .login-inputs .login-button-container .submit-btn, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .signup-inputs .signup-input .submit-btn, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .signup-inputs .signup-button-container .register-btn .submit-btn, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .login-button-container .signup-inputs .new-user-question .register-btn .submit-btn, main .main-content .hero .split-container .split-content .right .signup-button-container .login-content .login-inputs .login-button-container .signup-inputs .register-btn .submit-btn, main .main-content .hero .split-container .split-content .right .new-user-question .login-content .login-inputs .login-button-container .signup-inputs .register-btn .submit-btn, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-input .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .signup-inputs .signup-button-container .register-btn .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .signup-inputs .new-user-question .register-btn .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .signup-button-container .signup-inputs .register-btn .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .new-user-question .signup-inputs .register-btn .login-content .login-inputs .new-user-question, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .signup-inputs .signup-input .new-user-question, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .signup-inputs .signup-button-container .register-btn .new-user-question, main .main-content .hero .split-container .split-content .right .login-content .login-inputs .signup-inputs .new-user-question .register-btn .new-user-question, main .main-content .hero .split-container .split-content .right .signup-button-container .login-content .login-inputs .signup-inputs .register-btn .new-user-question, main .main-content .hero .split-container .split-content .right .new-user-question .login-content .login-inputs .signup-inputs .register-btn .new-user-question {
    width: 300px;
    font-weight: 600;
  }
  main .main-content .hero .split-container .split-content .right .signup-button-container, main .main-content .hero .split-container .split-content .right .new-user-question {
    display: flex;
    justify-content: center;
  }
  main .main-content .hero .split-container .split-content .right .signup-button-container .register-btn, main .main-content .hero .split-container .split-content .right .new-user-question .register-btn {
    background-image: url("../images/Buttons/Singnin_Button.png");
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 20px 0;
    width: 295px;
    color: #fff;
    cursor: pointer;
  }
  main .main-content .hero .split-container .split-content .right .signup-form {
    padding: 10px 0;
  }
  main .main-content.dashboard {
    display: unset;
    display: flex;
  }
  main .main-content.dashboard .side-nav {
    align-self: flex-start;
    padding: 10px;
  }
  main .main-content.dashboard .side-nav .nav-items-container .nav-list li.nav-item {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 0;
  }
  main .main-content.dashboard .side-nav .nav-items-container .nav-list li.nav-item .menu {
    background-image: url("../images/Buttons/Singnin_Button.png");
    background-repeat: no-repeat;
    background-position: center;
    text-transform: capitalize;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    width: 295px;
    height: 30px;
    color: #fff;
    padding: 5px 8px;
    letter-spacing: 0.2em;
  }
  main .main-content.dashboard .side-nav .nav-items-container .nav-list li.nav-item .menu a {
    text-decoration: none;
    color: #fff;
  }
  main .main-content.dashboard .display-area {
    height: 100%;
    width: 100%;
  }
  main .main-content.dashboard .display-area .display-content {
    padding: 20px 40px;
  }
}/*# sourceMappingURL=style.css.map */